@model ClassTrackerBRFE2022.Models.TeacherModels.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <div class="row">
        <div class="col">
            <dl class="row">
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.TeacherId)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.TeacherId)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

            </dl>
        </div>
        <div class="col">
            <img src="~/Uploads/@Html.DisplayFor(model => model.Phone)" alt="image" width="400px" height="auto" />
        </div>
    </div>
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
